/*
@font-face {
    font-display: swap; 
    font-family: 'Clacon2';
    font-style: normal;
    font-weight: 400;
    src: url('../clacon2.woff2') format('woff2');
}
*/

* {
    box-sizing: border-box;
    /* border: 1px solid gray; */
}

body {
    margin: 20px;
    /* font-family: 'Clacon2'; */
    font-family: 'Andale Mono', AndaleMono, monospace;
    background-color: #b7c2cb;
    color: #00223a;
}

a {
    color: #00223a;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: #00223a;
    text-decoration: none;
}


.toprow {
    opacity: 1;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.column {
    padding: 10px;
}

.column.sidenav {
    /* background-color: cadetblue; */
    float: left;
    width: 25%;
    position: sticky;
    top: 10%;
}

.column.main {
    /* background-color: cornflowerblue; */
    float: left;
    width: 75%;
}

li {
    padding: 5px;
}

@media screen and (max-width:600px) {
    .column.sidenav, .cloumn.main {
        width:100%;
        position: relative;
    }
}
