{{ define "main" }}
	{{ $p := where site.RegularPages "Type" "posts" }}

	<a href="{{ site.BaseURL }}">go back...</a>

	<header>
		<h1>{{ site.Title }}</h1>
	</header>

	<ul>
		{{ $timeformat := .Site.Data.config.blog.date_format }}
		{{ range $p }}
			<li>
				<span class="home-date">
					{{ .Date | time.Format $timeformat }}»
				</span>
				<a href="{{ .Permalink }}">
					{{ .Title }}
				</a>
				<div class="post-summary" style="margin-top: 0.5rem; opacity: 0.8;">
					{{ .Summary }}
					<br>
                    <a href="{{ .Permalink }}">...read more</a>
                </div>
			</li>
		{{- end }}
	</ul>
{{ end }}
